---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="title" content={title}>
		<meta name="description" content="Øystein Blegen Hoel is a Norwegian painter. Lives and works in Oslo, Norway from his Studio il Bosco del Merlo. Works in oils, acrylics, gouache, charcoal and ink. ">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>


<style is:global>
	/*
  https://dev.to/hankchizljaw/a-modern-css-reset-6p3
  */

	  /* Box sizing rules */
	  *,
	  *::before,
	  *::after {
		  box-sizing: border-box;
	  }

	  /* Remove default margin */
	  body,
	  h1,
	  p{
		  margin: 0;
	  }

	  /* Set core body defaults */
	  body {
		  min-height: 100vh;
		  scroll-behavior: smooth;
		  text-rendering: optimizeSpeed;
		  line-height: 1.5;
	  }

	  /* A elements that don't have a class get default styles */
	  a:not([class]) {
		  text-decoration-skip-ink: auto;
	  }

	  /* Make images easier to work with */
	  img {
		  max-width: 100%;
		  display: block;
	  }

	  /* Natural flow and rhythm in articles by default */
	  article > * + * {
		  margin-top: 1em;
	  }

	  /* Remove all animations and transitions for people that prefer not to see them */
	  @media (prefers-reduced-motion: reduce) {
		  * {
			  animation-duration: 0.01ms !important;
			  animation-iteration-count: 1 !important;
			  transition-duration: 0.01ms !important;
			  scroll-behavior: auto !important;
		  }
	  }

	  body {
		  font-size: 16px;
		  font-family: Helvetica, sans-serif;
		  letter-spacing: 0.05em;
	  }

	  h1 {
		  text-transform: uppercase;
		  letter-spacing: .072em;
	  }

	  a {
		  color: black;
		  text-underline-offset: 2px;
		  text-decoration-color: #f96a87;
		  text-decoration-thickness: 3px;
	  }

	  a:hover {
		  text-decoration-thickness: 5px;
	  }

	  article {
		  padding: 20px;
		  min-height: 100vh;
	  }

	  p {
		margin: 1em 0;
	  }

	  p:last-child {
		  padding-bottom: 0;
		  margin-bottom: 0;
	  }

	  img {
		width: auto;
		height: 100%;
		max-height: calc(100vh - 192px);
	  }
</style>
